*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  max-width: none;
  padding-top: 40px;
  margin: 0 auto;
}

code {
  font-family: 'Montserrat';
}

.banner,
.card-section {
  padding: 0 clamp(1rem, 5%, 2rem);
  margin: 1rem auto;
  max-width: 1000px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
}
