.property {
  display: flex;
  flex-direction: column;
  align-items: center;

  .carrousel-container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
  }

  .property-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1240px;
  }

  .host-ratings {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .title-host-container {
    display: flex;

    width: 100%;
    margin-top: 20px;

    justify-content: space-between;
  }

  .property-info {
    .locality {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: left;

      .property-title {
        font-size: 2rem;
        line-height: 1.2;
        margin-bottom: 10px;
        color: #ff6060;
      }

      .property-location {
        font-size: 1.2rem;
        color: #000000;
      }
    }

    .tags {
      display: flex;
      justify-content: flex-start;
      margin-top: 10px;
    }
  }

  .host-ratings {
    .host {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .host-info {
        color: #ff6060;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: 10px;

        .host-picture {
          margin-right: 10px;
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }

        .host-name {
          font-weight: bold;
        }
      }
    }

    .ratings-container {
      margin-top: 10px;
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }

  .collapse-buttons-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 40px;

    .collapse-left,
    .collapse-right {
      width: 48%;
    }
  }

  @media (max-width: 1024px) {
    /* Pour les tablettes, réduire la taille des titres */
    .property-info .locality .property-title {
      font-size: 0.8rem;
    }

    /* Les tags prennent plus de place sur les petits écrans */
    .property-info .tags {
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 10px;
    }

    /* Ajuster les éléments de la ratings-container */
    .host-ratings .ratings-container {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  @media (max-width: 768px) {
    .property-details {
      padding: 20px;
      margin-top: 10px;
    }

    /* Le titre occupe toute la largeur et s'ajuste s'il n'y a plus de place */
    .property-info .locality .property-title {
      font-size: 1rem;
      margin-bottom: 15px;
    }

    /* Le paragraphe et les tags sous le titre */
    .property-info .tags {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 15px;
      gap: 15px;
    }

    /* Les étoiles à gauche et le host à droite */
    .host-ratings .ratings-container {
      display: flex;
      justify-content: space-between;
      width: 50%;
      margin-top: 15px;
    }

    .host {
      display: flex;
      margin-bottom: 50px;
    }
    .host-info {
      font-size: 1rem;
    }

    /* Les boutons collapse en colonne */
    .collapse-buttons-container {
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 30px;

      .collapse-left,
      .collapse-right {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }

  @media (max-width: 480px) {
    /* Réduire la taille de la police sur les petits écrans */
    .property-info .locality .property-title {
      font-size: 0.7rem;
    }

    /* Ajuster les tags pour qu'ils soient alignés en une seule colonne */
    .property-info .tags {
      flex-direction: row;
      gap: 10px;
    }

    .host-ratings .ratings-container {
      flex-direction: column;
      gap: 10px;
    }

    .host-info {
      font-size: 0.7rem;
    }
    /* Les éléments de la collapse-buttons-container sont en full-width */
    .collapse-buttons-container {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .collapse-left,
    .collapse-right {
      width: 100%;
    }
  }
}
