@import '../../styles/Variables';
@import '../../styles/Mixins';

.slideshow {
  position: relative;
  height: 415px; /* Hauteur par défaut */
  margin: 0 auto; /* Centrer horizontalement */
  border-radius: 10px;
  overflow: hidden;
  background-color: $color-tertiary;

  .slideshow-image-container {
    @include flex(row, center, center);
    width: 100%;
    height: 100%;
  }

  .slideshow-image {
    width: 100%; /* L'image occupe toute la largeur du conteneur */
    height: 100%; /* L'image occupe également toute la hauteur */
    object-fit: cover; /* L'image couvre tout le conteneur sans déformation */
  }

  .slideshow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
    padding: 0;
    @include flex(row, center, center);

    &.left {
      left: 20px;
    }

    &.right {
      right: 20px;
    }

    .slideshow-chevron {
      width: 30px;
      height: auto;
      filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.5));
    }
  }

  .slideshow-counter {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: $color-primary;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 20px;
  }

  /* Media Query pour les écrans <= 768px */
  @media (max-width: 768px) {
    height: 300px; /* Ajuster la hauteur du carrousel pour mobile */
    max-width: 100%; /* Le carousel occupe toute la largeur de l'écran sur mobile */

    .slideshow-button {
      padding: 5px;

      .slideshow-chevron {
        width: 25px; /* Réduire la taille des flèches */
      }
    }

    .slideshow-counter {
      display: none;
      font-size: 14px; /* Réduire la taille de la police */
      padding: 4px 8px;
    }

    .slideshow-image {
      width: 100%; /* L'image occupe toute la largeur de l'écran */
      height: 100%; /* L'image occupe toute la hauteur du carrousel */
      object-fit: cover; /* Assure que l'image est bien centrée et couvre tout l'espace */
    }
  }
}
