.gallery {
  width: 100%; /* Utilise la largeur complète de l'écran */
  height: auto; /* La hauteur s'ajuste automatiquement en fonction du contenu */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}

.gallery-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-image {
  width: 90%; /* Utilisation de 100% de la largeur pour qu'elle s'adapte */
  max-width: 340px; /* Définir une largeur maximale pour ne pas dépasser */
  height: auto; /* La hauteur est automatiquement ajustée */
  border-radius: 10px;
  object-fit: cover; /* Centre et découpe l'image */
}

.gallery-number {
  position: absolute;
  bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.gallery-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.gallery-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.gallery-btn:nth-of-type(1) {
  left: 20px;
}

.gallery-btn:nth-of-type(2) {
  right: 20px;
}

/* Styles pour les écrans mobiles (tablettes et smartphones) */
@media (max-width: 768px) {
  .gallery {
    padding: 0; /* Retirer l'espace supplémentaire sur les petits écrans */
  }

  .gallery-wrapper {
    flex-direction: column; /* Disposez les images en colonne pour mieux s'adapter */
    gap: 2px; /* Ajoutez un espacement entre les images */
  }

  .gallery-image {
    width: 90%; /* Utilisez 90% de la largeur de l'écran pour les images */
    max-width: 300px; /* Réduisez la taille maximale des images */
    height: auto; /* Ajuste la hauteur pour garder les proportions */
  }

  .gallery-number {
    bottom: 10px; /* Réduisez la marge en bas */
    font-size: 12px; /* Réduisez la taille du texte pour les petits écrans */
  }

  .gallery-btn {
    padding: 5px; /* Réduit la taille des boutons sur mobile */
    font-size: 16px; /* Taille du texte plus petite sur mobile */
  }
}

/* Pour les très petits écrans, comme les téléphones en portrait */
@media (max-width: 480px) {
  .gallery-image {
    width: 100%; /* Prenez toute la largeur de l'écran sur très petits écrans */
    height: 200px; /* Ajustez la hauteur pour éviter que les images deviennent trop petites */
  }

  .gallery-number {
    bottom: 5px; /* Encore moins de marge en bas */
    font-size: 10px; /* Réduit encore la taille de la police */
  }

  .gallery-btn {
    padding: 5px;
    font-size: 14px; /* Réduit la taille du texte dans les boutons */
  }
}
