@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

// Définir la variable pour la police
$font-family: 'Montserrat', sans-serif;

// Appliquer box-sizing: border-box globalement pour éviter des problèmes de largeur
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: $color-primary;
  margin: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
