// Couleurs
$color-primary: #fff;
$color-secondary: #ff6060;
$color-tertiary: #f7f7f7;

// Typographie
$font-family: 'Montserrat', sans-serif;

// Breakpoints
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
