@import '../../styles/Mixins'; // Assurez-vous que le chemin est correct
@import '../../styles/Variables'; // Assurez-vous que le fichier contenant les variables est bien importé

.header {
  @include flex(
    row,
    space-between,
    center
  ); // Utilisation du mixin pour aligner
  width: 100%; // Largeur pleine
  max-width: 1240px; // Limiter la largeur à 1240px
  margin: 0 auto; // Centrer horizontalement
  padding: 15px 20px; // Espacement interne
  box-sizing: border-box; // Inclure padding et border dans la largeur totale
  justify-content: space-between; // Espacement entre le logo et le menu
  font-family: $font-family;
  // Le logo est à gauche et le menu à droite
  .logo {
    width: auto;
    max-width: 122px; // Taille maximale pour l'image
    height: auto; // Conserve les proportions
  }

  nav {
    @include flex(row, center); // Alignement des liens
    gap: 20px; // Espacement entre les liens

    a {
      font-size: 1rem; // Taille par défaut
      color: #000000; // Couleur de base des liens
      text-decoration: none; // Supprime le soulignement

      &:hover {
        color: #000000; // Couleur au survol
      }

      &.active {
        font-weight: bold; // Lien actif en gras
        color: #000000; // Couleur spécifique pour le lien actif
        border-bottom: 2px solid #000000; // Ajout d'un soulignement spécifique pour le lien actif
      }
    }
  }

  // Responsivité pour tablettes
  @media (max-width: 768px) {
    padding: 10px; // Réduction de l'espacement
    img {
      max-width: 100px; // Image plus petite
    }

    nav {
      gap: 15px; // Réduction de l'espacement entre les liens
      a {
        font-size: 0.9rem; // Réduction de la taille de police
        text-transform: uppercase;
      }
    }
  }

  // Responsivité pour mobiles
  @media (max-width: 375px) {
    padding: 5px 10px; // Réduction supplémentaire

    nav {
      gap: 10px; // Réduction supplémentaire de l'espacement
      a {
        font-size: 0.8rem; // Taille de police encore plus petite
        text-transform: uppercase; // Convertit le texte des liens en majuscules
      }
    }
  }
}
