@import '../../styles/variables'; // Utilisation des variables
@import '../../styles/mixins'; // Utilisation des mixins

.banner,
.banner_about {
  position: relative;
  @include flex; // Applique une flexbox
  border-radius: 25px;
  background-position: center;
  background-size: cover;
  height: 223px;
  padding: 20px;
  width: 1302px;
  margin: 43px auto;

  @media screen and (max-width: 550px) {
    margin: 20px auto;
    height: 120px;
  }

  h2 {
    color: white; // Couleur du texte pour une meilleure visibilité
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7); // Améliore la lisibilité sur les images
    margin: 0;
  }
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('/assets/images/banner-home.png'); // Chemin absolu recommandé
}

.banner_about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('/assets/images/banner-logement.png'); // Chemin absolu recommandé
}
