@import '../../styles/variables'; // Utilisation des variables
@import '../../styles/mixins'; // Utilisation des mixins

.banner,
.banner_about {
  position: relative;
  @include flex; // Applique une flexbox
  border-radius: 25px;
  background-position: center;
  background-size: cover;
  height: 168px;
  width: 1240px;
  margin: 0 auto;
  padding: 20px 0;

  h2 {
    display: flex;
    justify-content: center;
    color: white; // Couleur du texte pour une meilleure visibilité
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7); // Améliore la lisibilité sur les images
    margin: 0;
    width: 733px;
    height: 68px;
  }
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('/assets/images/banner-home.png'); // Chemin absolu recommandé
}

.banner_about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('/assets/images/banner-logement.png'); // Chemin absolu recommandé
}
