.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: 340px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  h2 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); /* Améliorer la lisibilité */
  }
}

/* Wrapper pour les cartes */
.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px; /* Espacement entre les cartes */
}

/* Responsiveness pour les écrans <= 768px */
@media (max-width: 768px) {
  .card {
    width: 100%;
    margin-bottom: 20px; /* Espacement entre les cartes sur mobile */
    height: auto; /* Laisse la carte s'adapter à son contenu */
  }

  h2 {
    font-size: 9px; /* Réduction de la taille du texte sur mobile */
    bottom: 10px; /* Ajustement du positionnement */
    left: 10px;
  }
}

/* Responsiveness pour les écrans <= 500px */
@media (max-width: 500px) {
  .card {
    height: 280px; /* Ajuste la hauteur pour des écrans très petits */
  }

  h2 {
    font-size: 9px; /* Réduction de la taille pour les petits écrans */
  }
}
