/* Conteneur principal du Collapse */
.collapse {
  width: 100%;
  max-width: 1023px;
  margin: 20px auto;
}

/* Bouton Collapse */
.collapse-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  background: #ff6060;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;

  &:hover {
    background: #e65555; /* Couleur de fond au survol */
  }

  &:focus {
    outline: 2px solid #ff9999; /* Contour visible pour l'accessibilité */
  }

  /* Alignement et animation de la flèche */
  span:first-child {
    margin-right: auto; /* Aligne le titre à gauche */
  }

  .collapse-icon {
    font-size: 1.2rem;
    transition: transform 0.3s ease; /* Animation de la flèche */
  }

  .collapse-icon.open {
    transform: rotate(180deg); /* Flèche vers le haut si ouvert */
  }
}

/* Contenu du Collapse */
.collapse-content {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.3s ease; /* Animations fluides */
  padding: 10px;
  width: 100%;
  background-color: #f6f6f6;

  &.open {
    max-height: 500px;
    opacity: 1;
  }

  /* Paragraphe dans le contenu */
  p {
    font-size: clamp(0.8rem, 1.2vw, 1rem); /* Taille adaptative du texte */
    color: #000000;
  }

  /* Liste dans le contenu */
  .collapse-list {
    list-style: none;
    padding: 0;
    margin: 0;

    /* Élément de la liste */
    .collapse-list-item {
      margin-bottom: 10px;
      font-size: clamp(0.8rem, 1.2vw, 1rem); /* Taille adaptative des items */
      color: #000000;
    }
  }
}

/* Responsive Design : écrans moyens */
@media (max-width: 768px) {
  .collapse-btn {
    padding: 10px 15px;
    font-size: 0.9rem;

    .collapse-icon {
      font-size: 1rem; /* Flèche plus petite */
    }
  }

  .collapse-content {
    padding: 15px;
    max-width: 100%; /* Adapte la largeur */
    p {
      font-size: clamp(
        0.7rem,
        1vw,
        0.9rem
      ); /* Ajuste encore plus pour les écrans moyens */
    }
  }
}

/* Responsive Design : petits écrans */
@media (max-width: 375px) {
  .collapse-btn {
    font-size: 0.8rem; /* Taille plus petite pour le texte */
    padding: 15px;

    .collapse-icon {
      font-size: 0.9rem; /* Flèche encore plus petite */
    }
  }

  .collapse-content {
    padding: 10px; /* Réduit l'espacement */
    p {
      font-size: clamp(
        0.6rem,
        1vw,
        0.8rem
      ); /* Texte réduit pour petits écrans */
    }
  }
}
