.collapse {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.collapse-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 520px;
  padding: 10px;
  background: #ff6060;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;

  &:hover {
    background: #e65555;
  }

  &:focus {
    outline: none;
  }

  .collapse-icon {
    font-size: 1.2rem;
    transition: transform 0.3s ease;
  }

  .collapse-icon.open {
    transform: rotate(180deg); /* Flèche vers le haut */
  }
}

.collapse-content {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.3s ease;
  padding: 0 15px;
  width: 500px;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 10px;

  &.open {
    max-height: 500px; /* Ajuste selon le contenu */
    opacity: 1;
  }
}
