.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 350px);
  text-align: center;
  font-family: Montserrat;

  h1 {
    font-size: 288px;
    font-weight: 700;
    color: #ff6060;
    margin: 0;
  }

  p {
    font-size: 36px;
    font-weight: 500;
    line-height: 51.34px;
    color: #ff6060;
    margin: 20px 0;
  }

  a {
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: relative;

    &:hover::after {
      width: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      transition: width 0.2s ease-in-out;
    }
  }

  @media (max-width: 1024px) {
    h1 {
      font-size: 180px; /* Réduire la taille du titre pour les écrans plus petits */
    }

    p {
      font-size: 28px; /* Réduire la taille du texte */
      line-height: 38px; /* Ajuster la hauteur de ligne pour s'adapter */
    }

    a {
      font-size: 1rem; /* Réduire la taille du lien */
      padding: 8px 15px; /* Ajuster les espacements */
    }
  }

  @media (max-width: 768px) {
    height: auto; /* Ne pas fixer la hauteur sur les petits écrans */
    padding: 20px;

    h1 {
      font-size: 120px; /* Plus petit pour les tablettes */
    }

    p {
      font-size: 24px;
      line-height: 32px;
    }

    a {
      font-size: 0.9rem;
      padding: 6px 12px;
    }
  }

  @media (max-width: 480px) {
    height: auto;
    padding: 15px;

    h1 {
      font-size: 80px; /* Réduire encore pour les petits écrans */
    }

    p {
      font-size: 18px;
      line-height: 26px;
    }

    a {
      font-size: 0.9rem;
      padding: 5px 10px;
    }
  }
}
